article {
  background-color: grey;
}

p {
  color: green;
}

#box-1 {
  width: 50px;
  height: 50px;
  background-color: red;
  float: left;
}

#box-2 {
  width: 50px;
  height: 50px;
  background-color: yellow;
  float: left;
  clear: both;
}

#box-3 {
  width: 50px;
  height: 50px;
  background-color: green;
  float: right;
}

#box-4 {
  width: 50px;
  height: 50px;
  background-color: blue;
  float: left;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}








/*  */
