.thumb-img {
  height: 250px;
  width: 250px;
  background-color: white;
  padding: 10px;
  /* background-color: blue; */
  float: left;
  /* clear: both; */

}

section.topic:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

section.topic {
  float: left;
}















/*  */
