header {
  background-color: rgb(245, 202, 107);
  height:  200px;
}

header nav {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.book {
  background-color: rgba(250, 225, 169, 0.45);
  padding: 10px;
  margin: 10px;
  margin-left: 55px;
  width: 38%;
  height: 150px;
}

#content section {
  background-image: url("../static/images/open_book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  padding-top: 30px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.book img {
  width: 77.5px;
  height: 115px;
  float: left;
  margin-right: 15px;
}

.book .book-author {
  font-style: italic;
}

.book .book-description {
  font-size: 10px;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
