body {
  background-image: url("../images/tree-3.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

.menu-item {
  width: 200px;
  height: 150px;
  background-color: green;
}

#item-1 {
  float: left;
  margin-left: 15%;
}

#item-2 {
  float: right;
  margin-right: 15%;
}

#item-3 {
  clear: left;
  margin-left: 40%;
  margin-right: 40%;
}

#item-4 {
  float: left;
}

#item-5 {
  float: right;
}

#item-5 {
  clear: both;
}









/*  */
