header {
  height: 150px;
  background-color: green;
}

#main-icon-text {
  color: white;
  font-size: 48px;
  font-weight: 700;
  padding: 10px;
}

header nav a {
  color: white;
  text-decoration: none;
}

header nav {
  margin: 20px;
}

.blog-item img {
  height: 300px;
  width: 95%;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 40px;
}

.blog-item h2 {
  font-weight: 300;
  color: black;
}

.blog-item a {
  text-decoration: none;
}

.blog-item .short-info {
  font-style: italic;
  display: block;
}

.blog-item h2,
.blog-item .short-info {
  text-align: center;
}

footer {
  background-color: grey;
}

#footer-logo {
  width: 300px;
  height: 270px;
  float:left;
}

#footer-links {
  height: 230px;
  /* height: 100%; */
  min-height: 100%;
  float:left;
  background-color: darkgray;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.footer-menu-item {
  display: block;
}

footer,
footer a {
  color: white;
}
















.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}





















/*  */
