p {
  color: red;
  padding-left: 10px;
}

#box-1 {
  color: green;
  border: black solid 10px;
  padding: 50px;
  margin: 30px;
  /* background-color: yellow; */
}

#box-2 {
  color: blue;
  background-color: purple;
}

.box {
  width: 200px;
  height: 200px;
  display: inline-block;
}

img[alt=penguin] {
  width: 250px;
  height: 250px;
}

#box-1:hover {
  border: red solid;

}

#box-2:hover {
  border: green dashed;
}

#linux-pg-image:hover {
  border: black solid;
}

div:first-child {
  background-color: yellow;
}




/*  */
